
@{
    ViewBag.Title = "InstitutionUpdateNotice";
}

<h2>Institution Update Notice</h2>
<form action="" method="post">


    <input type="text" name="Details" value="@Model.Details" class="form-control" placeholder="DETAILS" />
    <input type="date" name="Date" value="@Model.Date" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>

</form>


